{% extends 'base.html' %}
{% load static %}

{% block title %}
Smart_Parking | Home
{% endblock title %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us | Smart Parking</title>
  <style>
     body {
      margin: 0;
      padding: 0;
      background-image: url("{% static 'images/img_1.jpg' %}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      font-family: Arial, sans-serif;
      display: flex;
      flex-direction: column;
     }
    h1 {
      text-align: center;
      color: #333;
    }
   
    
  </style>
</head>
<body>
    <br><br>
    <div class="container" style="max-width: 900px;
    margin: 60px auto;
    background: rgb(246, 244, 244);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); text-align: center;"> 
    <h3>About Smart Parking</h3>
    <p>
      Smart Parking is a modern solution designed to help drivers locate and manage available parking slots in real-time.
      Whether you're a daily commuter or a parking manager, our system makes it easier to find and manage parking efficiently.
    </p>
    <p>
      Built using Django and our system bridges the gap between
      technology and convenience. Our goal is to reduce traffic, save time, and simplify urban transportation.
    </p>
    <p>
      This platform is part of an innovative hackathon project developed by passionate developers aiming to solve real-world problems.
    </p>
    </div>
</body>
</html>


{% endblock content %}